body {
			background-color: ghostwhite;
			font-family: Arial;
			font-size: 9pt;
		}
		h1 {
			font-family: Arial;
			color: #777777 !important;
			font-size: 24pt !important;
			line-height: 28px !important;
			margin: 5px 0 !important;
			padding: 5px 5px 20px;
			text-align: center;
		}
		small {
			font-family: Arial;
			font-size: 8pt;
			font-style: italic;
		}
	
		td.block {
			width: 15px;
			height: 15px;
			font-size: 6px;
			background-color: white;
		}
		#container_rules {
			font-size: 8pt; 
			border: 1px solid white; 
			padding: 3px; 
			margin-bottom: 10px;
		}
		#grid_controls
		{
		float: right;
		position: relative;
		right: 20%;
		text-align: center;
		}
		#grid_controls > button
		{
		margin:10px 10px 10px 10px;
		width:100px;
		}
		p.copyright
		{
		text-align:center;
		}
		.gameoflife_body_bg{
		   background: url("../images/short_bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
		
		}
		#gof-frame
		{
			float: left;
			margin-top: 10%;
			text-align: center;
			width: 100%;
		
		}
		.gol{
			background: none repeat scroll 0 0 #f4f4f4;
			border: 5px solid #fff;
			border-radius: 6px;
			margin: 0 auto;
			width: 75%;
		}
		.gol_inner{
		margin-top: 40px;
		text-align: left;
		width: 100%;
		}
		#grid_dynamic{
		width:60%;
		margin:0 0 40px 10px;
		}
		.inner_gol
		{
		left:12%;
		position:relative;
		}
		