
.col-md-9 {
	width: 75%!important;
	float:left !important;
}
.col-md-3 {
	width: 25%!important;
	float:left !important;
}
.col-md-6 {
	width: 50%!important;
	float:left !important;
}
.col-md-4 {
	float:left !important;
	width:33.3333% !important;
}

body{
	background:url(../images/noise_pattern_with_crosslines.png);
	}
	a[href="#"]{outline:none!important}
.wrapper {
	background: url(../images/banner_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.latestpost{margin:0px 6% 0px 0px;width:29.33% !important;float:left;}
.latestpost2{margin:0px 4% 0px 0px;width:29.33% !important;float:left;}
.newsupdatebg {
    background: url("../image/NewsUpdate.png") no-repeat !important;
    color: #FFFFFF !important;
    float: left !important;
    font-family: 'open_sansregular' !important;
    font-size: 18px !important;
    padding: 17.3px !important;
    width: 13em !important;
}



