body {
    font-family: "Roboto",sans-serif !important;
    font-size: 14px !important;
    margin: 0;
    padding: 0;
}
a:focus, a.active, input, select:focus {
    outline: 0 none !important;
    text-decoration: none !important;
}
h1 {
    color: #777777 !important;
    font-size: 24px !important;
    line-height: 28px !important;
    margin: 5px 0 !important;
	text-align:center;
	padding:5px 5px 20px 5px;
}
p {
    color: #888888;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}
a, a:visited {
    text-decoration: none;
}
#short_wrapper {
    width: 100%;
}
.short_bg {
    background: url("../images/short_bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.short_frame {
    float: left;
    margin-top: 10%;
    text-align: center;
    width: 100%;
}
.short {
    background: none repeat scroll 0 0 #f4f4f4;
    border: 5px solid #fff;
    border-radius: 6px;
    margin: 0 auto;
    width: 66%;
}
.short_inner {
    margin-top: 40px;
    text-align: left;
    width: 100%;
}
.short_text {
    border-bottom: 1px solid #ccc;
    color: #555555;
    float: left;
    font-size: 26px;
    font-weight: bold;
    margin: 0 6px 15px 10px;
    padding: 5px 0 5px 5px;
    width: 93%;
}

.short_filed {
    float: left;
    padding: 0 15px;
    width: 100%;
}
.short_filed_style {
    background: -moz-linear-gradient(center top , #dddddd, #e4e4e4) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #fdfdfd;
    border-radius: 8px;
    box-shadow: 0 8px 5px -8px #bbbaba inset, 0 -8px 0 -8px #bbbaba inset;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 78%;
}

.sign_btn_frame {
    float: left;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.short_btn {
    background: linear-gradient(to bottom, #1ba6e3 5%, #078ac0 100%) repeat scroll 0 0 #2dabf9;
    border-radius: 3px;
    box-shadow: 0 8px 5px -8px #bbbaba inset, 0 -8px 0 -8px #bbbaba inset;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 11px;
    text-decoration: none;
    text-shadow: 0 1px 0 #263666;
    width: 21%;
}
.short_btn:hover {
    background: linear-gradient(to bottom, #078ac0 5%, #1ba6e3 100%) repeat scroll 0 0 #0688fa;
    color: #fff;
    text-decoration: none;
}
.short_btn:active {
    position: relative;
    top: 1px;
}

.short_btm_txt {
    border-top: 1px solid #cccccc;
    color: #727272;
    float: left;
    font-size: 13px;
    margin-top: 15px;
    padding: 10px 15px 15px;
    text-align: center;
    width: 100%;
}
p.copyright{
text-align:center;
}
