
/*========================  Mobile  ========================*/
@media screen and (max-width: 480px) {



}

@media (min-width: 480px) and (max-width: 500px) {


}

@media (min-width: 600px) and (max-width: 767px) {

}

/*========================  Tab mini  ========================*/
@media (max-width: 660px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {


}

/*========================  1024 re small scree  ========================*/
@media only screen and (min-width: 1023px) and (max-width: 1100px) {


}

/*========================  1200 re large scree  ========================*/
@media (min-width: 1200px) {



}

@media (min-width: 1200px) and (max-width: 1290px) {
}

@media (min-width: 1300px) and (max-width: 1366px) {
}

@media (min-width: 1400px) and (max-width: 1450px) {
}

@media (min-width: 1920px) and (max-width: 1925px) {
}
